@page "/activityDetail"

<div class="activity-content">
    <div class="activity-content__item" id="activity-video">
        <div class="activity-content__item-header">
            <MenuableTitle Disabled="!IsMobile" Items="MenuableTitleItems">视频回放</MenuableTitle>
        </div>
        <div class="d-flex justify-center activity-detail__image activity-detail__image-height">
            <iframe _ngcontent-flink-c48="" 
            scrolling="no" border="0" frameborder="no" framespacing="0"  width=100%
            allowfullscreen="allowfullscreen" sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts" 
            src="//player.bilibili.com/player.html?aid=343814267&bvid=BV1h94y1D7tw&cid=783315594&page=1"></iframe>
        </div>
    </div>
    <div class="activity-content__item" id="activity-detail">
        <div class="d-flex justify-center activity-content__item-header">
            <MenuableTitle Disabled="!IsMobile" Items="MenuableTitleItems">活动详情</MenuableTitle>
        </div>
        <div class="activity-detail__image">
            <MImage Src="_content/MASA.OfficialWebsite.Shared/images/m_activity22.jpg" Height="@("100%")" Width="@("100%")" />
        </div>
    </div>
    <div class="activity-content__item" id="active-file">
        <div class="activity-content__item-header">
            <MenuableTitle Disabled="!IsMobile" Items="MenuableTitleItems">资料下载</MenuableTitle>
        </div>
        <div class="activity-detail__image">
            <MButton Text Ripple="false" Class="activity-detail__button-text">
                发布会PPT下载
            </MButton>
        </div>
    </div>
</div>
