@page "/framework"

<div class="home-banner">
    <MRow NoGutters>
        <MCol Cols="12" Lg="5" Class="intro-wrapper">
            <div class="intro">
                <div class="intro-title">.NET下一代微服务开发框架</div>
                <div class="intro-subtitle">开启全新的现代应用开发交付体验</div>
                <div class="intro-actions">
                    <MButton Text Ripple="false" Href="/framework">开始使用</MButton>
                    <MButton Text Ripple="false" Class="text-capitalize"
                             Href="https://github.com/masastack" Target="_blank">
                        <MIcon Class="mr-2">mdi-github</MIcon>
                        Github
                    </MButton>
                </div>
            </div>
        </MCol>
        <MCol Cols="12" Lg="7" Class="cover-wrapper">
            <MImage Src="_content/MASA.OfficialWebsite.Shared/images/banner2.png"
                    Width="@("100%")" Height="@("100%")" />
        </MCol>
    </MRow>

    @if (IsMobile)
    {
        <div class="home-banner__slider-wrapper"
             style="background-image: url('_content/MASA.OfficialWebsite.Shared/images/mUnion.png'); background-size: 100% 100%">
            <div style="display: contents" @onclick="ScrollToNext">
                <MIcon Small Color="#E2E7F4">mdi-chevron-double-up</MIcon>
                <div class="more">构建块</div>
            </div>
        </div>
    }
    else
    {
        <div class="home-banner__slider-wrapper desktop"
             style="background-image: url('_content/MASA.OfficialWebsite.Shared/images/Union.png'); background-size: 100% 100%; background-color:transparent;">
            <div class="core">BUILDING BLOCKS</div>
        </div>
    }
</div>

<div class="home-content">

    <div class="home-content__item">
        @if (IsMobile)
        {
            <MImage Class="framework-diagram"
                    Src="_content/MASA.OfficialWebsite.Shared/images/masaframework2.png"
                    Contain>
            </MImage>
        }
        else
        {
            <MImage Class="framework-diagram"
                    Src="_content/MASA.OfficialWebsite.Shared/images/masaframework1.png"
                    Height="663"
                    Contain>
            </MImage>
        }
    </div>

    <div class="home-content__item" id="building-blocks-content">
        <div class="home-content__item-header">
            <MenuableTitle Disabled="!IsMobile" Items="MenuableTitleItems">BUILDING BLOCKS</MenuableTitle>
            <div class="home-content__item-subtitle">构建块</div>
        </div>
        <MRow NoGutters="IsMobile" class="building-block__item-cards">
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Authentication" Content="认证" Class="building-block-card building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Identity" Content="身份" Class="building-block-card building-block-card__margin-left building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Configuration" Content="配詈" Class="building-block-card building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Data" Content="数据" Class="building-block-card building-block-card__margin-left building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
        </MRow>
        <MRow NoGutters="IsMobile">
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="DDD" Content="领域驱动设计" Class="building-block-card building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Dispatcher" Content="调度器" Class="building-block-card building-block-card__margin-left building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Bindings" Content="绑定" Class="building-block-card building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Isolation" Content="隔离性" Class="building-block-card building-block-card__margin-left building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
        </MRow>
        <MRow NoGutters="IsMobile">
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Observability" Content="可观测性" Class="building-block-card building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="SearchEngine" Content="搜索引擎" Class="building-block-card building-block-card__margin-left building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Services" Content="服务" Class="building-block-card building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="R/W Spliting" Content="读写分离" Class="building-block-card building-block-card__margin-left building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
        </MRow>
        <MRow NoGutters="IsMobile">
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="StackSdks" Content="业务工具包" Class="building-block-card building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Caching" Content="缓存" Class="building-block-card building-block-card__margin-left building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Storage" Content="储存" Class="building-block-card building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Testable" Content="可测试性" Class="building-block-card building-block-card__margin-left building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
        </MRow>
        <MRow NoGutters="IsMobile">
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Consistency" Content="一致性" Class="building-block-card building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="AOP" Content="面向切面编程" Class="building-block-card building-block-card__margin-left building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="I18N" Content="国际化" Class="building-block-card building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Rule Engine" Content="规则引擎" Class="building-block-card building-block-card__margin-left building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
        </MRow>
    </div>

    <div class="home-content__item" id="utils-content">
        <div class="home-content__item-header">
            <MenuableTitle Disabled="!IsMobile" Items="MenuableTitleItems">UTILS</MenuableTitle>
            <div class="home-content__item-subtitle">通用类库集合</div>
        </div>
        <MRow NoGutters="IsMobile" class="building-block__item-cards">
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Configuration" Content="配置" Class="building-block-card building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Data" Content="数据" Class="building-block-card building-block-card__margin-left building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Development" Content="开发" Class="building-block-card building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Exceptions" Content="异常处理" Class="building-block-card building-block-card__margin-left building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
        </MRow>
        <MRow NoGutters="IsMobile">
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Extensions" Content="扩展" Class="building-block-card building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Model" Content="模型" Class="building-block-card building-block-card__margin-left building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="3">
                <BuildingBlockCard Title="Security" Content="安全" Class="building-block-card building-block-card__margin-bottom"></BuildingBlockCard>
            </MCol>
        </MRow>
    </div>

    <div class="home-content__item" id="template-content">
        <div class="home-content__item-header">
            <MenuableTitle Disabled="!IsMobile" Items="MenuableTitleItems">TEMPLATE</MenuableTitle>
            <div class="home-content__item-subtitle">项目模板</div>
        </div>
        <MRow NoGutters="IsMobile" class="building-block__item-cards">
            <MCol Cols="6" Md="6">
                <BuildingBlockCard Title="MASA Blazor PRO" Content="专业版" Class="building-block-card"></BuildingBlockCard>
            </MCol>
            <MCol Cols="6" Md="6">
                <BuildingBlockCard Title="MASA Blazor pure" Content="纯净版" Class="building-block-card building-block-card__margin-left"></BuildingBlockCard>
            </MCol>
        </MRow>
    </div>

    <div class="home-content__item" id="why-masa-framework-content">
        <div class="home-content__item-header">
            <MenuableTitle Disabled="!IsMobile" Items="MenuableTitleItems">WHY MASA FRAMEWORK</MenuableTitle>
            <div class="home-content__item-subtitle">为什么选择MASA Framework?</div>
        </div>
        <MRow NoGutters="IsMobile" class="home-content__item-cards">
            <MCol Cols="12" Md="4">
                <WhyCard Image="_content/MASA.OfficialWebsite.Shared/images/icon4.png"
                         Title="现代应用开发体验"
                         IsMobile="IsMobile"
                         Icon="_content/MASA.OfficialWebsite.Shared/images/v-icon1.png"
                         WhyContents="WhyContent1">
                </WhyCard>
            </MCol>
            <MCol Cols="12" Md="4">
                <WhyCard Image="_content/MASA.OfficialWebsite.Shared/images/icon2.png"
                         Title="开源"
                         IsMobile="IsMobile"
                         Icon="_content/MASA.OfficialWebsite.Shared/images/v-icon2.png"
                         WhyContents="WhyContent2">
                </WhyCard>
            </MCol>
            <MCol Cols="12" Md="4">
                <WhyCard Image="_content/MASA.OfficialWebsite.Shared/images/icon3.png"
                         Title="社区"
                         IsMobile="IsMobile"
                         Icon="_content/MASA.OfficialWebsite.Shared/images/v-icon3.png"
                         WhyContents="WhyContent3">
                </WhyCard>
            </MCol>
        </MRow>
    </div>

</div>
