<MMenu OffsetY
       Disabled="Disabled"
       ContentClass="menuable-title__content">
    <ActivatorContent>
        <div class="d-flex align-center justify-center home-content__item-title" @attributes="@context.Attrs">
            @ChildContent
            @if (!Disabled)
            {
                <MIcon>mdi-chevron-down</MIcon>
            }
        </div>
    </ActivatorContent>
    <ChildContent>
        <MList Dense Flat TwoLine>
            @foreach (var item in Items)
            {
                <MListItem OnClick="@(() => ScrollTo(item.Selector))">
                    <MListItemContent>
                        <MListItemTitle Class="h8 regular--text">@item.Title</MListItemTitle>
                        <MListItemSubtitle Class="body2 regular3--text">@item.Subtitle</MListItemSubtitle>
                    </MListItemContent>
                </MListItem>
            }
        </MList>
    </ChildContent>
</MMenu>

@code
{
    [Inject]
    private IJSRuntime Js { get; set; } = null!;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public List<MenuableTitleItem> Items { get; set; } = new();

    private async Task ScrollTo(string selector)
    {
        await Js.InvokeVoidAsync("MasaOfficialWebsite.scrollTo", selector);
    }
}
