<MCard class="why-card" Flat>
    <div class="d-flex flex-column">
        <div class="d-flex">
            <div class="why-card__image">
                <MImage Src="@Image"
                        MaxHeight="48"
                        MaxWidth="48"
                        Contain />
            </div>
            <div class="why-card__title">@Title</div>
        </div>
        <div>
            @if (WhyContents is not null && WhyContents.Count > 0)
            {
                <ul class="why-card__ul" style="list-style-image:url('@Icon');">
                    @for (int i = 0; i < WhyContents.Count; i++)
                    {
                      @*  if (i == 0)
                        {

                            <li style=" vertical-align:middle; width:329px;margin: 36px 0px 48px 0;">@WhyContents[i]</li>
                        }
                        else
                        {*@
                            <li class="why-card__li">@WhyContents[i]</li>
                        @*}*@
                    }
                </ul>
            }
        </div>
    </div>
</MCard>

@code {
    [Parameter]
    public string? Image { get; set; }
    [Parameter]
    public string? Icon { get; set; }
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public List<string>? WhyContents { get; set; }
}
