@inject NavigationManager Nav

<MInteractiveTrigger WithPopup
                     Top="-74"
                     Left="16"
                     PopupClass="live-demo-menu"
                     QueryName="@nameof(LiveDemo)"
                     QueryValue="@LiveDemo"
                     InteractiveValue="true"
                     InteractiveComponentType="typeof(StackLiveDemoMenu)">
    <MButton Class="@($"demo-btn rounded-pill emphasis--text ml-4 text-capitalize mr-0 {Class}")"
             Text
             Large
             Style="font-size: 20px">
        <span class="text-decoration-underline">
            Live demo
        </span>
    </MButton>
</MInteractiveTrigger>

@code {

    [Parameter] public string? Class { get; set; }

    [SupplyParameterFromQuery]
    public bool LiveDemo { get; set; }
    
    

}
