@inject NavigationManager Nav

<MInteractiveTrigger WithWrapper
                     Style="position: relative"
                     QueryName="live-demo"
                     QueryValue="LiveDemo"
                     InteractiveComponentType="typeof(StackLiveDemoMenu)">
    <MButton Class="@($"demo-btn rounded-pill emphasis--text ml-4 text-capitalize mr-0 {Class}")"
             Text
             Large
             Style="font-size: 20px">
        <span class="text-decoration-underline">
            Live demo
        </span>
    </MButton>
</MInteractiveTrigger>

@code {

    [Parameter] public string? Class { get; set; }

    [SupplyParameterFromQuery(Name = "live-demo")]
    public bool LiveDemo { get; set; }

}
