<MCard Class="aboutus-card" Flat>
    <div>
        <SerializableImage Src="@Image"
                           Class="aboutus-card__image" Contain />
    </div>
    <div class="aboutus-card__description">
        @Description
    </div>
</MCard>

@code {

    [Parameter, EditorRequired]
    public string? Image { get; set; }

    [Parameter, EditorRequired]
    public string? Description { get; set; }

}
