<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="MASA|.NET|dotnet|云原生|PaaS|微服务|Dapr|Blazor|MAUI|开发框架|DDD|webassembly|数闪科技" />
    <meta name="description" content="数闪科技致力于用 .NET技术打造开源企业级开发者门户 平台工程 MASA Stack，提供一站式.NET现代化应用开发交付解决方案，赋能 560万.NET开发者转型为数字化人才，帮助企业降低数字化转型门槛，让变化更简单！" />
    <base href="/" />
    <link rel="stylesheet" href="_content/Masa.Blazor/css/masa-blazor.min.css" />
    <link rel="stylesheet" href="css/standard.css" />
    <link rel="stylesheet" href="css/shared.css" />
    <link rel="stylesheet" href="css/small-shared.css" media="(max-width: 960px)" />

    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="MASA.OfficialWebsite.WebApp.styles.css" />
    <link rel="stylesheet" href="https://cdn.masastack.com/npm/@("@mdi")/font@7.1.96/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/10.2.0/swiper-bundle.min.css" />
    <link rel="icon" href="https://cdn.masastack.com/stack/images/logo/MASAStack/logo.png" type="image/x-icon" />

    <HeadOutlet />
    <MSsrThemeProvider />
</head>

<body>
    <Routes />

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/BlazorComponent/js/blazor-component.js"></script>
    <script src="js/shared.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/10.2.0/swiper-bundle.min.js"></script>
</body>

</html>
