@inject MasaBlazor MasaBlazor
@using Microsoft.AspNetCore.Components.Sections

<MAppBar App
         Height="@BarHeight"
         Class="appbar"
         Color="transparent"
         Flat
         Dense>
    <a href="/">
        <img src="https://cdn.masastack.com/images/logo-h-en.svg"
             height="@LogoHeight"
             alt="logo" />
    </a>

    <MSpacer />
    
    <SectionOutlet SectionName="document" />

    @ChildContent
</MAppBar>

@code {

    [Parameter] public int BarHeight { get; set; }

    [Parameter] public int LogoHeight { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }

}
